body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.textBox {
  color: white;
  width: 200px;
  margin: 0 auto;
  font-size: 30px;
}

.realmInfo {
  display: none;
  color: white;
}

img {
  position: relative;
  left: 0;
  top: 0;
  height: 969px;
}

a:hover { box-shadow: 5px 5px 10px lightblue, -5px -5px 10px lightblue; }
a:hover + .realmInfo {
  display: block;
}

.aberrix {
  background-color: transparent;
  position: absolute;
  border-radius: 360px;
  height: 275px;
  width: 275px;
  left: 979px;
  top: -23px;
}

.un-Duun {
  background-color: transparent;
  position: absolute;
  border-radius: 360px;
  height: 275px;
  width: 275px;
  top: 375px;
  left: 570px;
}

.fastiun {
  background-color: transparent;
  position: absolute;
  border-radius: 360px;
  height: 275px;
  width: 275px;
  top: 703px;
  right: 303px;
}

.fastiunMajor {
  background-color: transparent;
  position: absolute;
  border-radius: 360px;
  height: 160px;
  width: 160px;
  left: 862px;
  top: 262px;
}

.unDuunMajor {
  background-color: transparent;
  position: absolute;
  border-radius: 360px;
  height: 369px;
  width: 369px;
  left: 777px;
  top: 533px;
}